body {
    background-color: #1DB954;
    margin: 0px auto;
    text-align: center;
    font-family: 'Poppins', sans-serif;
}

#container {
    width: 75%;
    margin: 0 auto;
}

#logo {
    width: 30px;
}

#arrow {
    width: 50px;
    margin: 10px;
}

input[type="text"], input[type="submit"], button {
    color: #FFF;
    background-color: #000;
    border: 2px solid #000;
    border-radius: 6px;
    padding: 5px;
    margin: 5px;
    font-family: 'Poppins', sans-serif;
}

::placeholder {
    color: #777;
}

.fade-in {
    animation: fadeIn ease 1s;
    -webkit-animation: fadeIn ease 1s;
    -moz-animation: fadeIn ease 1s;
    -o-animation: fadeIn ease 1s;
    -ms-animation: fadeIn ease 1s;
}
    
@keyframes fadeIn {
    0% {opacity:0;}
    100% {opacity:1;}
}
    
@-moz-keyframes fadeIn {
    0% {opacity:0;}
    100% {opacity:1;}
}
    
@-webkit-keyframes fadeIn {
    0% {opacity:0;}
    100% {opacity:1;}
}
    
@-o-keyframes fadeIn {
    0% {opacity:0;}
    100% {opacity:1;}
}
    
@-ms-keyframes fadeIn {
    0% {opacity:0;}
    100% {opacity:1;}
}

.song-box {
    width: 400px;
    height: 300px;
    margin: 5px;
    padding: 5px;
    display: inline-block;
}

.song-info {
    font-size: 125%;
    font-weight: bold;
}

.album-cover {
    width: 200px;
    height: 200px;
    border-radius: 100px;
    box-shadow: 0 0 10px #000;
}